body{
    background-color: rgb(172, 202, 202);
}
.worker-cards{
    display: flex;

}
.card{
width: 250px;
height: 200px;

}
.worker-name{
color: blue;
}
.worker-address{
color: blueviolet;
}
.worker-skills{
    color: brown;
}